{{ define "main" }}

<div class="intro-header no-img">

</div>

<div class="container" role="main">
  <div class="row">
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque metus quis lectus viverra ultrices. Nullam in tortor eu nisl tincidunt lobortis. Nulla ornare lacus ex, ac aliquet ante feugiat sed. Maecenas feugiat arcu id ex facilisis, sed congue magna mollis. Etiam euismod sapien quis urna finibus dapibus.
      <p>&nbsp;</p>
    </h2>
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
    {{ range $pag.Pages }}
    {{ partial "post_preview_card" . }}
    {{ end }}


  </div>

  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}
